@font-face {
  font-family: Cutive mono;
  src: url(CutiveMono-Regulat.ttf);
}

html {
  scroll-behavior: smooth;
}

#start {
  background-color: rgb(10, 25, 47);
}

#projects {
  padding-top: 60px;
}

#about {
  background-size: 100vw 100vh;
  height: 100%;
  display: flex;
  padding-top: 6vW;
  min-height: 100vh;
}

#contact {
  height: 80%;
  min-height: 70vh;

}

header {
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: rgb(10, 25, 47);
    width: 100%;
    height: 60px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
    transform: translateY(0px);
    padding: 0px 50px;
    padding-top: 10px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    z-index: 15;
}

.nav {
    text-align: right;
    position: relative;
    width: 100%;
    color: rgb(204, 214, 246);
    font-family: "Roboto mono", "Cutive mono","SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: 18px;
    z-index: 12;
}

ul li {
 display: inline;
 padding-left: 10px;
}

ul li a {
  color: #CCD6F6;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto mono", "Cutive mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console";
}

ul li a:hover {
    color: #64FFDA;
}

.resume {
    color: rgb(100, 255, 218);
    float: right;
    padding-right: 1vW;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(100, 255, 218);
    border-radius: 3px;
    padding-left: 1vW;
    margin-bottom: 1.4vW;
    padding-bottom: 0.3VW;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.resume:hover {
    color: #64FFDA;
    opacity: 50%;
}

.resume a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(10, 25, 47);
}

.rubrik h1 {
  font-size: 40px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  padding-left: 10vW;
  font-weight: 600;
  color: rgb(204, 214, 246);
  line-height: 1;
  margin-top: 10px;
  overflow: hidden;
}

.rubrik h1:after {
  content:"";
  display: inline-block;
  height: 0.4em;
  vertical-align: bottom;
  width: 40vW;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid;
  color: rgb(204, 214, 246)
}

.about h2 {
  padding-left: 10vW;
  text-align: left;
  font-size: 18px;
  font-family: "Roboto mono", "Cutive mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console";
  font-weight: normal;
  line-height: 1;
  color: #64FFDA;
}

.start h1 {
  padding-left: 2.2VW;
  text-align: left;
  font-size: 18px;
  font-family: "Roboto mono", "Cutive mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console";
  font-weight: normal;
  line-height: 0.2;
  color: #64FFDA;
}

.start h2 {
  font-size: 70px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  padding-left: 2VW;
  font-weight: 600;
  color: rgb(204, 214, 246);
  line-height: 1;
  margin-top: 10px;
}

.start h3 {
  font-size: 70px;
  padding-left: 2VW;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  font-weight: 600;
  line-height: 1;
  color: rgb(136, 146, 176);
  margin-top: -56px;
}

.start h4 {
  font-size: 18px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  padding-left: 2.2VW;
  margin-top: 0px;
  line-height: 1.4;
  font-weight: 50;
  display: block;
  width: 40%;
  color: rgb(136, 146, 176);
}

.start {
  padding-left: 8vW;
  padding-top: 8vW;
  display: flex;
  -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    padding-bottom:200px;
}

.recentProjects h1 {
  padding-left: 2.2VW;
  text-align: right;
  font-size: 18px;
  font-family: "Roboto mono", "Cutive mono", "SF Mono", "Cutive mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console";
  font-weight: normal;
  line-height: 1;
  color: #64FFDA;
}

.recentProjects h2 {
  font-size: 40px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  padding-left: 2VW;
  font-weight: 600;
  color: rgb(204, 214, 246);
  line-height: 1;
  margin-top: 10px;
  text-align: right;
}

.recentProjects p {
  font-size: 15px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  line-height: 1.4;
  font-weight: 50;
  text-align: right;
  padding-left: 1px;
  color: rgb(136, 146, 176);
}

.recentProjects {
  float: right;
  padding-right: 10vW;
  padding-top: 20px;
  padding-bottom: 6vW;
  background-color: rgb(10, 25, 47);
}

.recentProjects2 h1 {
  padding-left: 2.2VW;
  text-align: left;
  font-size: 18px;
  font-family: "Roboto mono", "Cutive mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console";
  font-weight: normal;
  line-height: 1;
  padding-left: 0VW;
  color: #64FFDA;
}

.recentProjects2 h2 {
  font-size: 40px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  padding-left: 0VW;
  font-weight: 600;
  color: rgb(204, 214, 246);
  line-height: 1;
  margin-top: 10px;
  text-align: left;
}

.recentProjects2 p {
  font-size: 15px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  line-height: 1.4;
  font-weight: 50;
  text-align: left;
  padding-left: 0VW;
  width: 32%;
  color: rgb(136, 146, 176);
}

.recentProjects2 a {
  font-size: 16px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  font-weight: normal;
  line-height: 1;
  color: #64FFDA;
  text-decoration: none;
}

.recentProjects2 a:hover {
  font-size: 18px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  line-height: 1;
  font-weight: 50;
  text-align: left;
  padding-left: 0VW;
  color: #64FFDA;
}

.recentProjects2 {
  float: left;
  padding-left: 10vW;
  padding-top: 20px;
  padding-bottom: 10vW;
  background-color: rgb(10, 25, 47);
}

.center {
  display: flex;
  padding-left: 10vW;
  padding-right: 4vW;
  width: 70%;
  padding-top: 50px;
  float:left;
}

  .center2 {
    display: flex;
    padding-right: 10vW;
    padding-left: 4vW;
    width: 70%;
    padding-top: 50px;
    float: right;
  }

.about {
  float: left;
  padding-top: 20px;
  padding-left: 10vW;
  padding-bottom: 10vW;
  background-color: rgb(10, 25, 47);
}

.about p {
  font-size: 15px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  line-height: 1.4;
  font-weight: 50;
  text-align: left;
  padding-left: 0VW;
  width: 40vW;
  color: rgb(136, 146, 176);
}

.about a {
  font-size: 15px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  line-height: 1.4;
  font-weight: 50;
  text-align: left;
  padding-left: 0VW;
  width: 40vW;
  color: #64FFDA;
  text-decoration: none;
}

.about a:hover {
  font-size: 15px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  font-weight: normal;
  font-weight: 50;
  line-height: 1.4;
  color: #64FFDA;
  text-decoration: underline;
}

.imgRight {
  display: flex;
  padding-left: 0vW;
  padding-right: 14vW;
  padding-top: 3vW;
  width: 36%;
  float: right;
}


.contact {
  background-color: rgb(10, 25, 47);
  padding-left: 8vW;
  padding-right: 8vW;
}

.contact h1 {
  font-size: 40px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  padding-left: 0VW;
  font-weight: 600;
  color: rgb(204, 214, 246);
  line-height: 1;
  margin-top: 10px;
  text-align: center;
}

.contact p {
  font-size: 18px;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  line-height: 1.4;
  font-weight: 50;
  text-align: center;
  color: rgb(136, 146, 176);
}

.contact h2 {
  padding-left: 2.2VW;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto mono", "Cutive mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console";
  font-weight: normal;
  line-height: 1;
  padding-left: 0VW;
  color: #64FFDA;
}

.mail {
  text-align: center;
  padding-right: 1vW;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(100, 255, 218);
  border-radius: 3px;
  padding-left: 1vW;
  padding-bottom: 1vW;
  margin-bottom: 1.4vW;
  padding-top: 1vW;
  margin-left: 36vW;
  margin-right: 36vW;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.mail:hover {
    color: #64FFDA;
    opacity: 50%;
}

.mail a {
  display: inline-block;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  color: #64FFDA;
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.textColumn p {
  font-size: 1vW;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  line-height: 1.4;
  font-weight: 50;
  padding-left: 1px;
  color: rgb(136, 146, 176);
  padding-left: 2VW;
  padding-right: 2VW;
}

.textColumn h1 {
  font-size: 2vW;
  font-family: 'Calibre', "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 'Roboto';
  font-weight: 600;
  color: rgb(204, 214, 246);
  text-align: center;
}

.textColumn {
  float: left;
  width: 33.33%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}

.textColumnRow {
  display: table;
  clear: both;
  padding-left: 2px;
  padding-right: 2px;
  float: left;
  text-align: justify;
}

.textColumnRow:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.wrapper {
  margin: auto;
  max-width: 83vW;
  background-color: rgb(10, 25, 47);
}

.header {
  padding: 30px 30px 0;
  text-align: center;
}
.header__title {
  margin: 0;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}
.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #949fb0;
  font-family: 'Yesteryear', cursive;
  font-weight: 500;
  line-height: 1.1;
}

.cards {
  padding: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.card {
  margin: 15px;
  width: calc((100% / 2) - 30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card:hover .card__inner {
  background-color: #1abc9c;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__inner {
  width: 100%;
  /* Fyller hela rutan med bilden */
  padding: 0px;
  position: relative;
  cursor: pointer;
  background-color: #949fb0;
  color: #eceef1;
  font-size: 1.5em;
  /* text-transform: uppercase; */
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.card__inner:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  width: 100%;
  margin-top: .25em;
}
/* BAKGRUNDFÄRG */
.card__expander {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #203047;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: #eceef1;
  font-size: 1.5em;
}

.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__expander .fa:hover {
  opacity: 0.9;

}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;

}
.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;

}
.card.is-expanded .card__inner {
  background-color: #1abc9c;
}
.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #203047;



}
.card.is-expanded .card__inner .fa:before {
  content: "\f115";
}

/* Bakgrundfärg! */
.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;


}
.card.is-expanded:hover .card__inner {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  background-color: #949fb0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n+4) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n+4) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
    margin-RIGHT: calc(100% + 30px);

  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n+3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  border:none;
  transform:scale(1);
  transition:all 1s;
}

.innerCardImg {
  width: 60%;
  height: auto;
  border:none;
  padding-left: 40px;
  padding-top: 20px;
  margin-left: calc(30% - 30px);
}

.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: white;
    opacity:0;
    transition:all 0.3s; /* hur snabbt den ska hoovra till vit bakgrund*/
}
